@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ebebebf5;
  color: #333;
  cursor: default;
}

/* bar to scroll */
body {
  --sb-track-color: #f8f8f8;
  --sb-thumb-color: #282828e3;
  --sb-size: 9px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 24px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 24px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

/*nav*/
#loading-container {
  position: fixed;
  align-self: center;
  width: 100%;
  height: 100%;
  background: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#loading-container img {
  width: 8%;
  height: auto;
}

#loading-logo {
  width: 100vh;
  animation: spin 3s infinite;
}

#loading-container.hidden {
  display: none;
}

/* nav */
.menu-logo img {
  max-width: 4rem;
  height: auto;
  min-width: 12%;
  padding-top: 2%;
  margin-left: 1%;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  z-index: 3;
  position: sticky;
  top: 0;
  background-color: #ebebebf6;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  user-select: none;
  box-sizing: border-box;
  padding: 1% 2%;
  margin: 0 auto;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.137);
}

.menu-container .menu-center {
  vertical-align: middle;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.menu-container a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-container .menu-center ul,
.menu-container .menu-right ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-center {
  top: 5%;
  left: 10%;
  transform: translate(10%, -5%);
}

.menu-container .menu-center li,
.menu-container .menu-right li {
  font-size: 22px;
  margin-left: 25px;
  margin-top: 3%;
  cursor: pointer;
}

.menu-container .bx {
  margin-top: 35%;
  font-size: 25px;
}

.menu-container .menu-right li a:hover .bx,
.menu-container .menu-center li a:hover {
  color: #241bd1;
}

/* Cart Icon and Badge */
.cart-icon {
  position: relative;
  font-size: 24px;
  color: #333;
  margin-left: auto;
  cursor: pointer;
}

.cart-icon:hover .cart-icon-text {
  display: block;
}

.cart-icon-text {
  position: absolute;
  top: 22px;
  right: 13px;
  background: linear-gradient(45deg, #373355, #3a25d6);
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 50%;
  display: none;
}

.menu-hamburger {
  display: none;
  cursor: pointer;
}

.mobile-menu {
  font-family: "Outfit", sans-serif;
  z-index: 2;
  position: sticky;
  top: 0;
  font-weight: 700;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #ebebebf5;
  width: 100%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.137);
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-menu li {
  text-align: center;
  padding: 10px 0;
}

.mobile-menu li a:hover {
  color: #241bd1;
}

.mobile-menu a {
  color: #171724;
  text-decoration: none;
  font-size: 22px;
  display: block;
  width: 100%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .menu-center,
  .menu-right {
    display: none;
  }
  .menu-hamburger {
    display: block;
  }
  .mobile-menu.active {
    display: flex;
    position: sticky;
    top: 9.7%;
    z-index: 2;
  }
}

/* Asegura que el contenedor de búsqueda esté sticky y debajo del nav */
.search-container {
  position: sticky;
  top: 5.4em; /* Manténlo pegado al tope de la pantalla */
  z-index: 2000; /* Asegúrate de que esté por encima de otros elementos */
  background-color: #fff; /* Fondo blanco para que se distinga del contenido detrás */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Pequeña sombra para destacarlo */
}

@media (max-width: 768px) {
  .search-container {
    top: 21em; /* Ajuste el top a 10em en pantallas pequeñas */
  }
}

/* Dropdown de búsqueda */
.search-dropdown {
  position: absolute;
  top: 100%; /* Justo debajo del search-container */
  left: 0;
  right: 0;
  z-index: 3000; /* Asegúrate de que esté por encima de otros contenidos */
  background-color: #ebebebf5; /* Color de fondo del dropdown */
  border-radius: 0 0 15px 15px; /* Borde opcional */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Sombra opcional */
  padding: 10px;
  opacity: 0; /* Inicialmente invisible */
  transform: translateY(-10px); /* Inicialmente desplazado hacia arriba */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transición suave */
}

.search-dropdown.show {
  opacity: 1; /* Visible cuando tiene la clase 'show' */
  transform: translateY(0); /* Regresa a su posición original */
}

/* Input de búsqueda */
.search-input {
  width: 100%; /* Ajusta el ancho para encajar en el dropdown */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #ebebebf5;
  outline-color: #0a05664f;
}

/* Lista de resultados */
.search-results {
  list-style-type: none; /* Remueve el estilo por defecto de la lista */
  padding: 0;
  margin: 0;
  display: none; /* Oculta inicialmente */
}

.search-results.show {
  display: block; /* Muestra cuando tiene la clase 'show' */
}

.search-results li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.search-results li a {
  text-decoration: none;
  color: black;
  display: block;
}

.search-results li a:hover {
  color: #241bd1;
}

/* about us */
main {
  margin-top: 10px;
}

.about h2 {
  margin: 10px auto;
  font-size: 3rem;
  color: #000;
  font-weight: bold;
}

.about h3 {
  color: #141414;
  font-size: 2rem;
  font-weight: 600;
  margin: 10px 0 10px 0;
}

.text-muted {
  color: #292929;
  line-height: 1.6;
}

.reviews h4 {
  color: #141414;
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0 15px 0;
}

.reviews {
  margin-top: 5px;
}

.reviews-general {
  display: flex;
  justify-content: space-around;
}

.review {
  background-color: #f9f9f9;
  box-shadow: 0 0 10px #0000001f;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin: 0 15px 20px 0;
  max-width: 50%;
}

.reviewer {
  display: flex;
  align-items: center;
}

.reviewer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.text-muted {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
}

.end {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 4%;
}

.community {
  max-width: 50%;
}

/* footer */
.footer {
  background-color: #191725;
  padding: 30px;
  text-align: center;
  box-shadow: 0px -15px 30px #0000005d;
}

.footer-container {
  font-family: "Jost", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  color: #fff;
}

.footer-text {
  margin: 0;
  font-size: 1.2em;
}

.copy {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
}

.footer-text + .footer-text {
  margin-top: 10px;
}

.footer-icons {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-icon-link {
  margin: 0 10px;
  color: #3a25d6;
  text-decoration: none;
}

.footer-icon {
  font-size: 2.4em;
  transition: all 0.5s ease;
}

.footer-icon:hover {
  color: #5b46ff;
  transform: scale(1.2);
}

.icon-text {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 2%;
}

.icon-text p {
  text-align: center;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .aboutus {
    margin: 10px;
  }

  .reviews-general {
    flex-wrap: wrap;
  }

  .review {
    max-width: fit-content;
  }

  .end {
    flex-wrap: wrap;
  }

  .community {
    max-width: fit-content;
  }

  .footer {
    max-width: fit-content;
  }

  .footer-text {
    font-size: 1em;
  }

  .footer-icons {
    flex-direction: column;
  }

  .icon-text {
    margin: 15px 0;
  }

  .footer-icon {
    font-size: 2em;
  }
}
