@import url('https://fonts.cdnfonts.com/css/xeroda');
* {
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4f5;
}

/*nav*/
.menu-logo img{
    max-width: 4%;
    height: auto;
}

/*header title*/
.text {
    margin: 8% 7% 5% 5%;
}

.text h1 {
    padding: 5% 0 3% 0;
    font-family: 'Xeroda', sans-serif;
    color: #000000;
    text-align: right;
    font-size: 8rem;
    letter-spacing: -0.5px;
    line-height: 0.8em;
}

.text p {
    color: #000000;
    font-size: 1.8rem;
    text-align: right;
    margin-left: 60%;
}

/* bar to scroll */
body {
    --sb-track-color: #f8f8f8;
    --sb-thumb-color: #282828e3;
    --sb-size: 9px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 24px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 24px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}
