@import url("https://fonts.cdnfonts.com/css/xeroda");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://www.dafont.com/es/neon-glow.font");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Neon Glow";
  src: url("/fonts/NEONGLOW.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ebebebf5;
  cursor: default;
}

/* bar to scroll */
body {
  --sb-track-color: #f8f8f8;
  --sb-thumb-color: #282828e3;
  --sb-size: 9px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 24px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 24px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/*nav*/
#loading-container {
  position: fixed;
  align-self: center;
  width: 100%;
  height: 100%;
  background: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#loading-container img {
  width: 8%;
  height: auto;
}

#loading-logo {
  width: 100vh;
  animation: spin 1.5s infinite;
}

#loading-container.hidden {
  display: none;
}

/* nav */
.menu-logo img {
  max-width: 4rem;
  height: auto;
  min-width: 12%;
  padding-top: 2%;
  margin-left: 1%;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  z-index: 3;
  position: sticky;
  top: 0;
  background-color: #ebebebf6;
  align-items: center;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  user-select: none;
  box-sizing: border-box;
  padding: 1% 2%;
  margin: 0 auto;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.137);
}

.menu-container .menu-center {
  vertical-align: middle;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.menu-container a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s ease;
}

.menu-container .menu-center ul,
.menu-container .menu-right ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-center {
  top: 5%;
  left: 10%;
  transform: translate(10%, -5%);
}

.menu-container .menu-center li,
.menu-container .menu-right li {
  font-size: 22px;
  margin-left: 25px;
  margin-top: 3%;
  cursor: pointer;
}

.menu-container .bx {
  margin-top: 35%;
  font-size: 25px;
}

.menu-container .menu-right li a:hover .bx,
.menu-container .menu-center li a:hover {
  color: #241bd1;
}

/* Cart Icon and Badge */
.cart-icon {
  position: relative;
  font-size: 24px;
  color: #333;
  margin-left: auto;
  cursor: pointer;
}

.cart-icon:hover .cart-icon-text {
  display: block;
}

.cart-icon-text {
  position: absolute;
  top: 22px;
  right: 13px;
  background: linear-gradient(45deg, #373355, #3a25d6);
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 50%;
  display: none;
}

.menu-hamburger {
  display: none;
  cursor: pointer;
}

.mobile-menu {
  font-family: "Outfit", sans-serif;
  z-index: 2;
  position: sticky;
  top: 0;
  font-weight: 700;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #ebebebf5;
  width: 100%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.137);
}

.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-menu li {
  text-align: center;
  padding: 10px 0;
}

.mobile-menu li a:hover {
  color: #241bd1;
}

.mobile-menu a {
  color: #171724;
  text-decoration: none;
  font-size: 22px;
  display: block;
  width: 100%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .menu-center,
  .menu-right {
    display: none;
  }
  .menu-hamburger {
    display: block;
  }
  .mobile-menu.active {
    display: flex;
    position: sticky;
    top: 8.7%;
    z-index: 2;
  }
}

/* Asegura que el contenedor de búsqueda esté sticky y debajo del nav */
.search-container {
  position: sticky;
  top: 5.4em; /* Manténlo pegado al tope de la pantalla */
  z-index: 2000; /* Asegúrate de que esté por encima de otros elementos */
  background-color: #fff; /* Fondo blanco para que se distinga del contenido detrás */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Pequeña sombra para destacarlo */
}

@media (max-width: 768px) {
  .search-container {
    top: 22em; /* Ajuste el top a 10em en pantallas pequeñas */
  }
}

/* Dropdown de búsqueda */
.search-dropdown {
  position: absolute;
  top: 100%; /* Justo debajo del search-container */
  left: 0;
  right: 0;
  z-index: 3000; /* Asegúrate de que esté por encima de otros contenidos */
  background-color: #ebebebf5; /* Color de fondo del dropdown */
  border-radius: 0 0 15px 15px; /* Borde opcional */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Sombra opcional */
  padding: 10px;
  opacity: 0; /* Inicialmente invisible */
  transform: translateY(-10px); /* Inicialmente desplazado hacia arriba */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transición suave */
}

.search-dropdown.show {
  opacity: 1; /* Visible cuando tiene la clase 'show' */
  transform: translateY(0); /* Regresa a su posición original */
}

/* Input de búsqueda */
.search-input {
  width: 100%; /* Ajusta el ancho para encajar en el dropdown */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #ebebebf5;
  outline-color: #0a05664f;
}

/* Lista de resultados */
.search-results {
  list-style-type: none; /* Remueve el estilo por defecto de la lista */
  padding: 0;
  margin: 0;
  display: none; /* Oculta inicialmente */
}

.search-results.show {
  display: block; /* Muestra cuando tiene la clase 'show' */
}

.search-results li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.search-results li a {
  text-decoration: none;
  color: black;
  display: block;
}

.search-results li a:hover {
  color: #241bd1;
}

/*header title*/
header {
  height: fit-content;
  background: linear-gradient(
    circle at top left,
    rgba(72, 78, 128, 0.377) 0%,
    rgb(235, 235, 235) 30%,
    rgba(103, 109, 156, 0.555) 100%
  );
}

.center {
  display: flex;
  justify-content: space-around;
}

.title {
  margin: 8% 0 0 0;
}

.title h1 {
  padding: 5% 0 3% 0;
  font-family: "Xeroda", sans-serif;
  color: #000000;
  text-align: right;
  font-size: 8rem;
  letter-spacing: -0.5px;
  line-height: 0.8em;
}

.title p {
  color: #000000;
  font-size: 1.8rem;
  text-align: right;
}

.headphone img {
  max-width: 80%;
  height: auto;
}

.headphone {
  margin: 2% 0 0 -5%;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  margin-bottom: 25px;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, #ebebeb00, #ebebeb);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, #ebebeb00, #ebebeb);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

/*section on sale*/
.on-sale {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#radio-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 5px #000000bd;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="radio"]:checked {
  background: linear-gradient(45deg, #373355, #3a25d6);
  width: 40px;
  border-radius: 50px;
}

input[type="radio"]:checked::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  margin: 3px;
  background: linear-gradient(45deg, #373355, #3a25d6);
  border-radius: 50%;
  transition: all 0.2s ease;
}

input[type="radio"]:hover {
  border-radius: 50px;
  width: 40px;
  background: linear-gradient(45deg, #151133c2, #4d00dd);
}

.imagen-sale img {
  max-width: 70%;
  padding: 5%;
  height: auto;
  border-radius: 20px;
}

.imagen {
  display: flex;
  justify-content: center;
  height: 90%;
  width: 90%;
  box-shadow: 0 8px 3px #00000011;
  border-radius: 20px;
}

.imagen-sale {
  margin: 1% 0 0 3%;
}

.sale {
  display: flex;
}

.texto-sale {
  max-width: 50%;
  margin: 2% 5% 0 1%;
  font-family: Arial, Helvetica, sans-serif;
}

.texto-sale h4 {
  margin: 0 0 3% 0;
  font-size: 3em;
  align-items: center;
}

.price-border {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.price {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 3.5em;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.164);
  padding-top: 20px;
  color: #241977;
}

.border {
  display: flex;
  justify-content: right;
  margin-bottom: 5%;
}

.bordered-text {
  text-align: center;
  font-family: "Neon Glow";
  font-weight: 400;
  padding: 10px 10px 5px 10px;
  font-size: 3em;
  color: #241977;
  text-shadow: 0 0 5px #9184f8;
  border: 2px dashed rgb(0, 13, 85);
  margin: 0;
  width: fit-content;
}

.texto-sale p {
  margin: 2% 0 0 0;
  font-size: 1.3em;
  align-items: center;
}

.shop-button {
  background: linear-gradient(45deg, #373355, #3a25d6);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 3% 0 0 0;
  align-items: center;
}

.shop-button:hover {
  background: linear-gradient(45deg, #3a25d6, #373355);
}

.no-decoration {
  color: #fff;
  text-decoration: none;
}

/* popular */
.container {
  align-items: center;
  padding: 24px;
  background: radial-gradient(
    circle at top left,
    rgba(72, 78, 128, 0.377) 0%,
    rgb(235, 235, 235) 30%,
    rgba(103, 109, 156, 0.555) 100%
  );
  box-shadow: 0 0 15px #0000009a;
  height: 90vh;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.product {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: transform 0.5s ease-in-out;
}

.product-info {
  padding: 0;
  text-align: left;
  width: 45%;
  height: fit-content;
}

.bord-pop {
  margin-bottom: 0;
}

.product-title {
  font-size: 2.2em;
  font-weight: semi-bold;
  margin-bottom: 16px;
}

.description {
  font-size: 1.2em;
  color: #667784;
  margin-bottom: 0.5rem;
}

.product-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  transition: all 0.5s ease;
}

.product-image img:hover {
  transform: scale(1.1);
}

/* footer */
.footer {
  background-color: #191725;
  padding: 30px;
  text-align: center;
  box-shadow: 0px -15px 30px #0000005d;
}

.footer-container {
  font-family: "Jost", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  color: #fff;
}

.footer-text {
  margin: 0;
  font-size: 1.2em;
}

.copy {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
}

.footer-text + .footer-text {
  margin-top: 10px;
}

.footer-icons {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-icon-link {
  margin: 0 10px;
  color: #3a25d6;
  text-decoration: none;
}

.footer-icon {
  font-size: 2.4em;
  transition: all 0.5s ease;
}

.footer-icon:hover {
  color: #5b46ff;
  transform: scale(1.2);
}

.icon-text {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 2%;
}

.icon-text p {
  text-align: center;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .footer-text {
    font-size: 1em;
  }

  .footer-icons {
    flex-direction: column;
  }

  .icon-text {
    margin: 15px 0;
  }

  .footer-icon {
    font-size: 2em;
  }
}

/* Responsive adjustments */

/* General styles for smaller screens */
@media (max-width: 1200px) {
  .title h1 {
    font-size: 8rem;
    margin-right: 2rem;
  }
  .title p {
    font-size: 1.5rem;
    margin-right: 2rem;
  }
  .product-title {
    font-size: 2.5em;
  }
  .popular {
    min-width: fit-content;
  }
  .description {
    font-size: 1.3em;
  }
  .texto-sale h4 {
    font-size: 2.8em;
  }
  .texto-sale p {
    font-size: 1.3em;
  }
  .price {
    font-size: 4em;
  }
  .bordered-text {
    font-size: 2.5em;
  }
}

/* Adjustments for tablets */
@media (max-width: 992px) {
  .title h1 {
    font-size: 7rem;
    margin-right: 2rem;
  }
  .title p {
    font-size: 1.4rem;
    margin-right: 2rem;
  }
  .product-title {
    font-size: 2.7em;
  }
  .description {
    font-size: 1.1em;
  }
  .texto-sale h4 {
    font-size: 2.7em;
  }
  .texto-sale p {
    font-size: 0.9em;
  }
  .price {
    padding-top: 5px;
    font-size: 2.7em;
  }
  #textPrice {
    font-size: 1em;
  }
  .bordered-text {
    font-size: 2.2em;
  }
}

@media (max-width: 830px) {
  .price {
    padding-top: 15px;
    font-size: 2em;
  }
  .container {
    padding-top: 3.5em;
  }
}

/* Adjustments for mobile devices */
@media (max-width: 768px) {
  .title {
    align-items: center;
  }
  .title h1 {
    font-size: 5.5rem;
    margin-right: 2rem; /* Ajuste del margen derecho */
  }
  .title p {
    font-size: 1.2rem;
    margin-right: 2rem;
  }
  .carousel {
    display: block;
  }
  .container {
    height: auto;
  }
  .product {
    display: block;
  }
  .product-info {
    width: fit-content;
  }
  .product-image {
    padding-left: 4em;
    align-content: center;
  }
  .product-image img {
    width: 70%;
  }
  .product-title {
    font-size: 1.4em;
  }
  .description {
    font-size: 0.8em;
  }
  .texto-sale h4 {
    font-size: 2em;
  }
  .texto-sale p {
    font-size: 0.8em;
  }
  .price {
    font-size: 2em;
  }
  #imagenSlide {
    margin: 1rem 0 auto;
    width: 50%;
  }
  .bordered-text {
    font-size: 2em;
  }
  .menu-center,
  .menu-right {
    display: none;
  }
  .menu-hamburger {
    display: block;
  }
  .mobile-menu.active {
    display: flex;
  }
  .sale {
    flex-direction: column;
    align-items: center;
  }
  .on-sale {
    height: fit-content;
  }
  .texto-sale {
    max-width: 90%;
    margin: 5% 0;
  }
  .imagen-sale {
    margin: 2% 0;
    width: 90%; /* Ajustar tamaño de la imagen */
  }
  .popular-item {
    flex-direction: column;
    align-items: center;
  }
  .popular-text {
    max-width: 90%;
    margin: 5% 0;
  }
  .imagen-popular {
    margin: 2% 0;
    width: 90%; /* Ajustar tamaño de la imagen */
  }
}

/* Further adjustments for very small mobile devices */
@media (max-width: 576px) {
  .title h1 {
    font-size: 3rem;
    margin-right: 1rem; /* Ajuste del margen derecho */
  }
  .title p {
    font-size: 1rem;
  }
  .product-title {
    font-size: 1.2em;
  }
  .description {
    font-size: 0.7em;
  }
  .texto-sale h4 {
    font-size: 1.8em;
  }
  .texto-sale p {
    font-size: 0.7em;
  }
  .price {
    font-size: 1.5em;
  }
  .bordered-text {
    font-size: 1.8em;
  }
  .imagen-sale {
    margin: 2% 0;
    width: 95%; /* Ajustar tamaño de la imagen */
  }
  .imagen-popular {
    margin: 2% 0;
    width: 95%; /* Ajustar tamaño de la imagen */
  }
}
